// These are variables holding colours
// I did not add all colours here as I was testing most of them directly on the SCSS

// Text colours
$main-text-colour: #524632;
$mid-text-colour: #000;
$default-text-colour: #fff;

// background colours
$body-background: #c3c49e;
$nav-bar-colour: #c3c49e;

// footer colour
$footer-colour: #8f7e4f;
